:host {
  margin: 0
}

html,
body,
div,
dt,
dl,
dd,
button,
span,
b,
input,
textarea {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box
}

input,
textarea {
  padding: 2px 7px;
  border: solid 1px #c2bfb3;
  border-radius: 2px
}

textarea {
  resize: vertical;
  overflow: hidden
}

.__editor_pro,
button,
input,
textarea {
  font-family: 'Segoe UI', Helvetica, 'Helvetica Neue', Arial, sans-serif;
  font-size: 15px;
  color: #434343
}

button {
  background: none;
  vertical-align: middle
}

button,
input,
label,
span,
b,
i {
  display: inline-block;
  vertical-align: middle
}

dt,
dd,
button {
  cursor: pointer
}

button.__wide {
  position: absolute;
  bottom: 19px;
  right: 19px;
  padding: 3px 12px;
  background: #1976d2;
  color: #fff
}

.__chk {
  -webkit-appearance: none;
  border: 0;
  padding: 0;
  margin-right: 7px;
}
.checkbox label, .selectbox label {
  display: -webkit-inline-box
}
input[type="checkbox"] {
  -webkit-appearance: none;
  -webkit-user-select: none;
  background-image: -webkit-linear-gradient(#EDEDED, #EDEDED 38%, #DEDEDE);
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08), inset 0 1px 2px rgba(255, 255, 255, 0.75);
  color: #444;
  font: inherit;
  text-shadow: 0 1px 0 #F0F0F0;
  content: "";
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 18px;
    height: 18px;
    background: white;
}

:enabled:active:-webkit-any( select, input[type='checkbox'], input[type='radio']) {
  background-image: -webkit-linear-gradient(#e7e7e7, #e7e7e7 38%, #d7d7d7);
  box-shadow: none;
  text-shadow: none;
}
:enabled:focus:-webkit-any( select, input ) {
  /*-webkit-transition: border-color 200ms;
  border-color: rgb(77, 144, 254);*/
  outline: none;
}

input[type="checkbox"] {
  bottom: 2px;
/*  height: 13px;*/
  position: relative;
  vertical-align: middle;
/*  width: 13px*/
}
input[type='checkbox']:checked::before {
    content: "";
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 17px;
    height: 17px;
    background:#693823;
}
input[type='checkbox']:checked::after {
  -webkit-user-select: none;
  content: "";
    position: absolute;
    left: 3.5px;
    top: 7.5px;
    background: white;
    width: 2px;
    height: 2px;
    box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
    transform: rotate(45deg);
}
select {
  -webkit-appearance: none;
  -webkit-padding-end: 20px;
  -webkit-padding-start: 6px;
  background-image: -webkit-image-set(url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAICAYAAAAbQcSUAAAAaUlEQVQoz2P4//8/A7UwdkEGhiggTsODo4g2LBEImJmZvwE1/UfHIHGQPNGGAbHCggULFrKxsf1ENgjEB4mD5EnxJoaByAZB5Yk3DNlAPj6+L8gGkWUYzMC3b982IRtEtmFQjaxYxDAwAGi4TwMYKNLfAAAAAElFTkSuQmCC') 1x, url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACcAAAAQCAYAAACV3GYgAAAAWklEQVRIx+3VOwoAIAwD0B49N686CCJ+K0aHFrIl8LaKqsqvEccxcPEQo8bgNs4KTBth4HaByCMWbhWIcsDEzYCoy2xcD4hW8QWuBqJXeoXLQIwK/iEc57iDBIg+ClNpjek/AAAAAElFTkSuQmCC') 2x), -webkit-linear-gradient(#ededed, #ededed 38%, #dedede);
  background-position: right center;
  background-repeat: no-repeat;
  
  min-height: 2em;
  min-width: 80px
}
:enabled:hover:-webkit-any(select) {
  background-image: -webkit-image-set(url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAICAYAAAAbQcSUAAAAaUlEQVQoz2P4//8/A7UwdkEGhiggTsODo4g2LBEImJmZvwE1/UfHIHGQPNGGAbHCggULFrKxsf1ENgjEB4mD5EnxJoaByAZB5Yk3DNlAPj6+L8gGkWUYzMC3b982IRtEtmFQjaxYxDAwAGi4TwMYKNLfAAAAAElFTkSuQmCC') 1x, url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACcAAAAQCAYAAACV3GYgAAAAWklEQVRIx+3VOwoAIAwD0B49N686CCJ+K0aHFrIl8LaKqsqvEccxcPEQo8bgNs4KTBth4HaByCMWbhWIcsDEzYCoy2xcD4hW8QWuBqJXeoXLQIwK/iEc57iDBIg+ClNpjek/AAAAAElFTkSuQmCC') 2x), -webkit-linear-gradient(#f0f0f0, #f0f0f0 38%, #e0e0e0);
}
:enabled:active:-webkit-any(select) {
  background-image: -webkit-image-set(url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAICAYAAAAbQcSUAAAAaUlEQVQoz2P4//8/A7UwdkEGhiggTsODo4g2LBEImJmZvwE1/UfHIHGQPNGGAbHCggULFrKxsf1ENgjEB4mD5EnxJoaByAZB5Yk3DNlAPj6+L8gGkWUYzMC3b982IRtEtmFQjaxYxDAwAGi4TwMYKNLfAAAAAElFTkSuQmCC') 1x, url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACcAAAAQCAYAAACV3GYgAAAAWklEQVRIx+3VOwoAIAwD0B49N686CCJ+K0aHFrIl8LaKqsqvEccxcPEQo8bgNs4KTBth4HaByCMWbhWIcsDEzYCoy2xcD4hW8QWuBqJXeoXLQIwK/iEc57iDBIg+ClNpjek/AAAAAElFTkSuQmCC') 2x), -webkit-linear-gradient(#e7e7e7, #e7e7e7 38%, #d7d7d7);
}

.__lbox {
  position: absolute;
  left: 0;
  top: 0;
  width: 60%;
  height: 100%;
  border: solid 1px #aea999;
  overflow: hidden
}

.__controls,
.__tree,
.__status {
  position: absolute;
  left: 0;
  width: 100%
}

.__controls,
.__status {
  padding: 7px 12px;
  background: #f4f2e9 url('../icons/prop.png') repeat;
}

.__controls {
  top: 0;
  border-bottom: solid 1px #aea999
}

.__status {
  bottom: 0;
  border-top: solid 1px #aea999
}

.__tree {
  top: 39px;
  bottom: 33px;
  padding: 19px 12px;
  background: #fff;
  overflow: auto
}

.__tree.__imported {
  background: #f1f8e9
}

.__controls button,
.__status button {
  width: 16px;
  height: 16px;
  margin: 0 9px
}

.__status button {
  float: right;
  margin-top: 2px
}

.__cook-green,
.__cook-salad,
.__cook-yellow,
.__cook-white,
.__cook-red,
.__btn-web,
.__btn-expand,
.__btn-refresh,
.__btn-remove,
.__btn-export,
.__btn-import {
  background-image: url('../icons/sprite.png');
  background-repeat: no-repeat
}

.__cook-yellow {
  background-position: 0 -33px
}

.__cook-green {
  background-position: 0 -61px
}

.__cook-salad {
  background-position: 0 -89px
}

.__cook-white {
  background-position: 0 -117px
}

.__cook-red {
  background-position: 0 -145px
}

.__cook-ses-sec {
  background-position: 0 -201px
}

.__cook-pers {
  background-position: 0 -5px
}

.__cookie-pers-sec {
  background-position: 0 -201px
}

.__btn-expand {
  background-position: 0 -201px
}

.__btn-refresh {
  background-position: 0 -313px
}

.__btn-remove {
  background-position: 0 -174px
}

.__btn-export {
  background-position: 0 -286px
}

.__btn-import {
  background-position: 0 -258px
}

.__btn-web {
  background-position: 0 -230px
}

.__filter {
  margin-left: 9px;
  width: 130px
}

dt {
  font-weight: bold;
  user-select: none
}


dt b,
dd span {
  max-width: 220px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis
}

dt .__btn-web,
dd>i {
  width: 16px;
  height: 16px;
  margin-right: 7px
}

dt .__btn-arrow {
  border-style: solid;
  border-width: 5px 4px 0 4px;
  margin: 0 9px 0 12px;
  border-color: #212121 transparent
}

dt.__expanded .__btn-arrow {
  border-width: 0 4px 5px 4px
}

dt.__expanded+dl {
  display: block
}

dt[hidden]+dl {
  display: none
}

dl {
  display: none;
  padding-left: 17px
}

dd {
  padding-left: 5px
}

  {
  width: 16px;
  height: 16px
}

dd:hover {
  background: #fff8e1
}

.__prop {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 40%;
  padding: 6px 17px 0;
  line-height: 21px;
  background: #f4f2e9 url('../icons/prop.png') repeat;
  border: solid 1px #aea999;
  overflow: auto
}

.__prop label {
  font-weight: bold
}

.__prop input[type="text"],
textarea {
  width: 100%;
  max-width: 480px
}

.__prop input:not(.__chk),
textarea {
  margin-bottom: 3px
}

#__cstore,
#__cdate,
#__ctime {
  width: 150px
}

.__shade {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .7)
}

.__prompt-box {
  max-width: 500px;
  margin: 20% auto;
  padding: 0 24px 17px;
  background: #fffde7;
  font-size: 15px;
  overflow: auto
}

.__prompt-pass {
  display: block;
  width: 100%
}

.__prompt-box button {
  display: block;
  margin-top: 1em;
  margin-left: 1em;
  padding: 7px 19px;
  background: #1976d2;
  color: #fff;
  float: right
}

.__download-btn {
  display: block;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 20px;
  padding: 12px 0;
  background: #1976d2;
  color: #fff;
  text-align: center;
  text-decoration: none
}

.__imported {
  padding: 3px 6px;
  background: #fffde7;
  border: solid 1px #aea999
}

.__btn-setsel {
  background: #1976d2;
  color: #fff;
  padding: 3px 9px;
  margin: 6px auto;
  max-width: 64px
}

:invalid {
  background-color: #fe9b9b
}

:focus {
  outline: solid 1px #f57f17
}